# Python bytecode files
__pycache__/
*.pyc

# Django-specific files
db.sqlite3
*.log
*.pot
*.py[cod]
*.env

# macOS files
.DS_Store

# Python virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Coverage reports
.coverage
*.cover

# IDEs (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Django migrations
*/migrations/

# Django static files
staticfiles/

# Media files
media/

# Temporary files
*.bak
*.swp